<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <div class="col-md-12 row" style="background-color: #009899;">
        <div class ="col-md-4">
        </div>
        <div class="col-md-4 d-flex justify-content-center" style="background-color: #009899;height: 70px;">
            <a>
                <img src="static/white/facebook.png" style="float: left;margin-top: 20px;margin-right: 10px;"
                     width="28px"
                     height="28px">
            </a>
            <a>
                <img src="static/white/instagram.png" style="margin-top: 20px;margin-right: 10px;"
                     width="28px" height="28px">
            </a>
            <a href="https://www.youtube.com/channel/UCFbGpMHsaJcgt1k4huR-6Qg/featured">
                <img
                    src="static/white/youtube.png"
                    style="margin-top: 20px;margin-right: 10px;"
                    width="28px"
                    height="28px">
            </a>
            <a href="https://api.whatsapp.com/send?phone=27635130363">
                <img src="static/white/whatsapp.png"
                     style="margin-top: 20px;margin-right: 10px;"
                     width="28px"
                     height="28px">
            </a>
            <a>
                <img src="static/white/twitter.png" style="margin-top: 20px;margin-right: 10px;"
                     width="28px"
                     height="28px">
            </a>

        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <div><p style="color: #b8b6b5;margin-top: 20px;margin-right: 3px">2019@Madinah Media</p></div>
        </div>
    </div>
    <script src="static/assets/jquery/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</html>
